@charset "utf-8";
.box1{
	padding:20px;
	margin-right:10px;
	background:#ffd800;
	float:left;
	
}
.box2{
		padding:20px;
	margin-right:10px;
	background:#0000a0;
	float:left;
	
	
}
.box3{
	
		padding:20px;
	background:#ff8000;
	float:left;
	
}
.box4{
		padding:20px;
	border:1px solid black;
	background:#ffd800;
	float:right;
	
	
}